@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.425px;
    font-weight: 400;
    color: #000;
}

/* 소스 안내 팝업 */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999999;
}
html {
    overflow: hidden;
}
.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 500px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 1px 5px rgb(0 0 0 / 10%);
}

.modal-content p {
    position: relative;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;    
}
.modal-content p strong {
    color: #f00;
}

.modal-close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(3, 66, 82); 
    color: #fff;
    text-transform: uppercase;
    border: 0;
}



/* clearfix : flaot 해제 */
.clearfix::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

/* 우측고정 메뉴 */
.fix-info-wrap {
    position: fixed;
    right: 10px;
    top: 175px;
    width: 85px;
    z-index: 99;
}

.fix-info-list {
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 0px;

    border-radius: 18px 18px 0px 0px;

    padding-top: 20px;
    padding-bottom: 10px;

    box-shadow: 0 4px 9px 0 rgb(0 0 0 / 10%);
}

.fix-info-list li {
    position: relative;
    display: block;
    padding-bottom: 20px;
}

.fix-info-list li:last-child {
    padding-bottom: 0;
}

.fix-info-list li span {
    position: relative;
    display: block;
    font-size: 13px;
    color: #000;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}

.fix-info-list li a {
    position: relative;
    display: block;
    text-align: center;
}

.fix-info-list li a i {
    position: relative;
    display: block;
    width: 36px;
    height: 32px;
    margin: 0 auto;
}

.i-login {
    background: url('../images/icoFloating.png') no-repeat;
    background-position: 0px 0px;
}

.i-deli {
    background: url('../images/icoFloating.png') no-repeat;
    background-position: 0px calc(-32px * 1);
}

.i-qa {
    background: url('../images/icoFloating.png') no-repeat;
    background-position: 0px calc(-32px * 2);
}

.i-talk {
    background: url('../images/icoFloating.png') no-repeat;
    background-position: 0px calc(-32px * 3);
}

/* 최근 본 물품 */
.recent-good {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.recent-good img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.gotop {
    position: relative;
    display: block;
    background: #000;
    border-radius: 0px 0px 18px 18px;

    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    line-height: 1;
    box-shadow: 6px 8px 9px 0 rgb(0 0 0 / 16%);
}


/* 공통요소 */
.inner {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.ptb-80 {
    padding: 80px 0;
}

.h-100 {
    height: 100%;
}

.btn-wrap {
    position: relative;
    display: block;
    margin-top: 20px;
}

.btn {
    position: relative;
    display: inline-block;
    text-align: center;
    background: #fff;
    transition: background 0.3s;

    min-width: 114px;
    padding: 0 32px;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    line-height: 32px;
}

.btn:hover {
    background: #f9f9f9;
}

.section-title {
    position: relative;
    display: block;
    font-size: 32px;
    color: #000;
    font-weight: 700;
    line-height: 1.25;
}

.section-title .btn-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0;
}

.section-title-thin {
    position: relative;
    display: block;
    font-weight: 300;
}

.section-title-bold {
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: #76bd42;
}

.section-title-nobr {
    display: inline-block;
}

.section-title-bar::after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: -20px;
    display: block;
    width: 20px;
    height: 2px;
    background: #707070;
}

.section-title-desc {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #000;
    margin-top: 38px;
}

.section-title-desc-bar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #76bd42;
}

.good-list-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 30px;
}

.good-box {
    position: relative;
    display: block;
    float: left;
    width: 288px;
    height: 412px;
    background: #fff;
}

.good-box-mr {
    /* 1200 - (288px * 4 ) = 48 / 3칸나눔 */
    margin-right: calc(48px / 3)
}

.good-img {
    position: relative;
    display: block;
    width: 100%;
    height: 288px;
    overflow: hidden;
}

.good-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;

    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.good-img:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.good-event {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: #76bd42;
    color: #fff;
    font-size: 14px;
    font-size: 600;
}

.good-event em {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-style: normal;
}

.good-info {
    position: relative;
    display: block;
    height: 55px;
    padding: 10px 15px 5px 15px;
    overflow: hidden;
}

.good-info span {
    font-size: 17px;
    color: #000;
    line-height: 1.1;
}

.good-info span em {
    font-style: normal;
}

.good-price {
    position: relative;
    display: inline-block;
    padding: 0 15px;
}

.good-price span {
    font-size: 22px;
    color: #000;
    font-weight: 500;
}

.good-price span em {
    font-style: normal;
    font-size: 17px;
}

.good-cart {
    position: absolute;
    right: 15px;
    bottom: 35px;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/btnCartList.png') no-repeat;
    background-position: 0px 0px;
    font-size: 0;
}

.good-cart:hover {
    background-position: 0px -30px;
}

.section-layout {
    position: relative;
    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.section-layout-left {
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 895px);
    height: 100%;
}

.section-layout-right {
    position: relative;
    display: block;
    float: right;
    width: 895px;
    height: 100%;
}

/* 제품 슬라이드 정보 레이아웃 */
.sw-good-control {
    position: absolute;
    left: 0;
    bottom: 60px;
    display: block;
}

.sw-good-prev {
    position: relative;
    display: block;
    width: 26px;
    height: 20px;
    background: url("../images/swiperArrP.png") no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0;
    float: left;
}

.sw-good-prev:hover {
    background-position: 0px -20px;
}

.sw-good-pg {
    position: relative;
    display: block;
    width: 110px;
    text-align: center;
    color: #bbb;
    float: left;
    font-size: 16px;
    margin-top: 5px;
}

.sw-good-pg .swiper-pagination-current {
    font-weight: 700;
    color: #222;
}

.sw-good-next {
    position: relative;
    display: block;
    width: 26px;
    height: 20px;
    background: url("../images/swiperArrN.png") no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0;
    float: left;
    float: left;
}

.sw-good-next:hover {
    background-position: 0px -20px;
}

.review .sw-good-control,
.brand .sw-good-control {
    bottom: 0px;
}

/* 전체레이아웃 */
.wrap {
    position: relative;
    display: block;
}

/* 사이트 정보 */
.site-name {
    position: relative;
    display: none;
}

/* 상단 */
.header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 130px;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    z-index: 999999;
}

.header-active {
    top: -80px;
}

.header-top {
    position: relative;
    display: block;
    height: 80px;
}

.header-top-left {
    position: relative;
    display: block;
    float: left;

    overflow: hidden;
    padding-top: 30px;
}

.logo {
    position: relative;
    display: block;
    width: 190px;
    height: 31px;
    background: url('../images/logo.png') no-repeat center;
    background-size: cover;
    font-size: 0;
    float: left;
}

.day {
    position: relative;
    display: block;
    float: left;
    margin-left: 18px;
    margin-top: 5px;
    font-size: 13px;
    color: #666;
}

.day img {
    vertical-align: -3px;
}

.header-top-right {
    position: relative;
    display: block;
    float: right;

    /* clearfix로 처리한다. */
    /* overflow: hidden; */

    padding-top: 35px;
}

.deli {
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
}

.member-list {
    position: relative;
    display: block;
    float: left;

    margin-top: 4px;
    z-index: 1;
}

.member-list>li {
    position: relative;
    display: block;
    float: left;
    padding: 0 10px;
}

.member-list>li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    display: block;
    width: 1px;
    height: 10px;
    background: #bababa;
}

.member-list>li:last-child::after {
    display: none;
}

.member-list>li:first-child {
    padding-left: 0;
}

.member-list>li:last-child {
    padding-right: 0;
}

.member-list>li>a {
    position: relative;
    display: block;
    font-size: 13px;
    color: #666;
}

.center-more {
    padding-right: 15px;
}

.center-more::after {
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
    width: 10px;
    height: 6px;
    background: url('../images/icoMyMenu.png') no-repeat;
    background-position: 0px 0px;
}

.center-more-active::after {
    background-position: 0px -6px !important;
}

.center-more-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    display: none;
    background: #fff;
    padding: 20px 20px 20px 20px;
    border: solid 1px #ddd;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

.center-more-list-active {
    display: block !important;
}

.center-more-list li {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.center-more-list li:last-child {
    margin-bottom: 0;
}

.center-more-list li a {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 13px;
    line-height: 19px;
    color: #666;
}

.center-more-list li a:hover {
    color: #000;
    text-decoration: underline;
}


.header-bottom {
    position: relative;
    display: block;
    height: calc(49px - 1px);

}

.header-bottom-left {
    position: relative;
    display: block;
    float: left;

    padding-top: 14px;
}

.gnbwrap {
    position: relative;
    display: block;
    float: left;
}

.gnb {
    position: relative;
    display: block;

    /* overflow: hidden; */
}

.gnb>li {
    position: relative;
    display: block;
    float: left;
    padding: 0 15px;
}

.gnb>li:first-child {
    padding-left: 0;
}

.gnb>li:last-child {
    padding-right: 0;
}

.gnb>li>a {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 18px;
    color: #000;
    font-weight: 500;
}

.gnb>li>a:hover {
    color: #76bd42;
}

.bt-all {
    background: url('../images/menu_icon.png') no-repeat;
    padding-left: 36px;
    color: #000 !important;
}

.icon-dot::after {
    content: '';
    position: absolute;
    right: -7px;
    top: -3px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #f58320;
}

.icon-arrow {
    padding-right: 15px;
    color: #000 !important;
}

.icon-arrow-active {
    color: #76bd42 !important;
}

.icon-arrow::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 12px;
    height: 8px;
    background: url('../images/icoGnbArr2.png') no-repeat;
    background-position: 0px 0px;
}

.icon-arrow-active::after {
    background-position: 0px -8px !important;
}

.event-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    padding: 20px;
}

.event-list-active {
    display: block !important;
}

.event-list li {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.event-list li:last-child {
    margin-bottom: 0;
}

.event-list li a {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    color: #666;
}

.event-list li a:hover {
    color: #000;
    text-decoration: underline;
}

.gnb-more {
    position: relative;
    display: block;
    float: left;
    margin-left: 45px;
    font-size: 13px;
    color: #666;
    padding-right: 16px;
    cursor: pointer;
}

.gnb-more-active {
    color: #76bd42 !important;
}

.gnb-more::after {
    content: '';
    position: absolute;
    right: 0;
    top: 6px;
    display: block;
    width: 10px;
    height: 6px;
    background: url('../images/icoGnbArr3.png') no-repeat;
    background-position: 0px 0px;
}

.gnb-more-active::after {
    background-position: 0px -6px !important;
}

.gnb-more-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    display: none;
    background: #fff;
    padding: 20px;
    border: solid 1px #ddd;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

.gnb-more-list-active {
    display: block !important;
}

.gnb-more-list li {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.gnb-more-list li:last-child {
    margin-bottom: 0;
}

.gnb-more-list li a {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    color: #666;
}

.gnb-more-list li a:hover {
    color: #000;
    text-decoration: underline;
}

/* 카테고리 전체 레이아웃 */
.cate-all-wrap {
    position: absolute;
    left: 0;
    top: 50px;

    display: block;
    visibility: hidden;

    width: 260px;
    overflow: hidden;

    height: calc(100vh - 190px);
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);

    transition: width 0.5s;
}

.cate-all-wrap-visible {
    visibility: visible;
}

.cate-all-wrap-active {
    width: 520px;
}

.box {
    position: relative;
    display: block;
    width: 400px;
    height: 300px;
    background: red;
    padding-top: 10px;
    margin: 0 auto;
}

.box-bt {
    position: relative;
    display: block;
    width: 200px;
    height: 50px;
    background: yellow;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.box-bt:hover {
    background-color: black;
    color: #fff;
}


/* 카테고리 상품 출력 */
.cate-all {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 260px;
    height: 100%;
    overflow: hidden;
    background: #fff;
}

.cateList {
    position: relative;
    display: block;
}

.cateList li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

.cateList li a {
    position: relative;
    display: block;
    padding: 0 20px;
    color: #000;
}

.cateList li:hover {
    background: #f9f9f9;
}

.cateList li:hover a {
    color: #76bd42;
}

.cateList li:hover a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background: url("../images/icoGnbArr1.png") no-repeat;
    background-position: 0px -10px;
}

.themaList {
    position: relative;
    display: block;
    padding: 0 20px;
}

.themaList li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 1px solid #e9e9e9;
}

.themaList li:first-child {
    border-top: 1px solid #666;
}

.themaList li:last-child {
    border-bottom: 1px solid #666;
}

.themaList li a {
    position: relative;
    display: block;
    color: #000;
}

.themaList li a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background: url('../images/icoGnbArr1.png') no-repeat;
    background-position: 0px 0px;
}

.themaList li:hover a {
    color: #76bd42;
}

.themaList li:hover a::after {
    background-position: 0px -10px;
}

.bullet span {
    position: relative;
    display: inline-block;
}

.bullet span::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #f58320;
}

.deliList {
    position: relative;
    display: block;
}

.deliList li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
}

.deliList li a {
    position: relative;
    display: block;
    color: #666;
    padding: 0 20px;
}

.deliList li:hover a {
    color: #76bd42;
}

.deliList li a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background: url('../images/icoGnbArr1.png') no-repeat;
    background-position: 0px 0px;
}

.deliList li:hover a::after {
    background-position: 0px -10px;
}

/* 카테고리 서브 상품 출력 */
.cate-sub-all {
    position: absolute;
    left: 260px;
    top: 0;
    display: block;
    width: 260px;
    height: 100%;
    overflow: hidden;
    background: #f9f9f9;
}

.dep2 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    padding: 0 25px;
}

.dep2 li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.dep2 li a {
    position: relative;
    display: block;
    color: #000;
}

.dep2 li:hover a {
    position: relative;
    display: block;
    color: #76bd42;
    text-decoration: underline;
}


.header-bottom-right {
    position: relative;
    display: block;
    float: right;

    overflow: hidden;
    padding-right: 5px;
}

.search-form {
    position: relative;
    display: block;
    float: left;
    width: 320px;
    height: 42px;
    background: #f7f7f7;
    border-radius: 18px;
    padding: 14px 20px;
}

.search-txt {
    position: relative;
    display: block;
    float: left;
    border: 0;
    font-size: 12px;
    line-height: 1;
    color: #000;
    background: transparent;
    width: calc(100% - 30px);
}

.search-bt {
    position: relative;
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    border: 0;
    background: transparent url('../images/btnSearch.png') no-repeat center;
    font-size: 0;

    cursor: pointer;
}

.bucket-bt {
    position: relative;
    display: block;
    float: left;
    margin-left: 25px;
    width: 30px;
    height: 30px;
    background: url('../images/btnCart.png') no-repeat center;
    font-size: 0;
    margin-top: 8px;
}

.bucket-count {
    position: absolute;
    right: -5px;
    top: -5px;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    background: #76bd42;
    border-radius: 50%;
}


/* 비주얼 */
.visual {
    position: relative;
    display: block;
    height: 410px;
    background: #dfde9d;

    margin-top: 130px;
}

.visual-active {
    margin-top: 50px;
}

.visual .swiper-container {
    width: 100%;
    height: 100%;
}

.sw-visual a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.sw-1 {
    background: url('../images/swiper_img_01.jpg') no-repeat center;
    background-size: cover;
}

.sw-2 {
    background: url('../images/swiper_img_02.jpg') no-repeat center;
    background-size: cover;
}

.sw-3 {
    background: url('../images/swiper_img_03.jpg') no-repeat center;
    background-size: cover;
}

.sw-4 {
    background: url('../images/swiper_img_04.jpg') no-repeat center;
    background-size: cover;
}

.sw-5 {
    background: url('../images/swiper_img_05.jpg') no-repeat center;
    background-size: cover;
}

.sw-6 {
    background: url('../images/swiper_img_06.jpg') no-repeat center;
    background-size: cover;
}

.sw-7 {
    background: url('../images/swiper_img_07.jpg') no-repeat center;
    background-size: cover;
}

.sw-8 {
    background: url('../images/swiper_img_08.jpg') no-repeat center;
    background-size: cover;
}

.sw-9 {
    background: url('../images/swiper_img_09.jpg') no-repeat center;
    background-size: cover;
}

.sw-10 {
    background: url('../images/swiper_img_10.jpg') no-repeat center;
    background-size: cover;
}

/* visual slide 관련 */
.sw-visual-prev {
    position: absolute;
    left: calc(50% - 600px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.0) url("../images/visualArrP.png") no-repeat;
    background-position: 0px -64px;
    border: 0;
    cursor: pointer;
    font-size: 0;
    border-radius: 50%;
}

.sw-visual-prev:hover {
    background: rgba(0, 0, 0, 0.2) url("../images/visualArrP.png") no-repeat;
    background-position: 0px 0px;
}

.sw-visual-next {
    position: absolute;
    left: calc(50% + 600px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.0) url("../images/visualArrN.png") no-repeat;
    background-position: 0px -64px;
    border: 0;
    cursor: pointer;
    font-size: 0;
    border-radius: 50%;
}

.sw-visual-next:hover {
    background: rgba(0, 0, 0, 0.2) url("../images/visualArrN.png") no-repeat;
    background-position: 0px 0px;
}

/* 비주얼 슬라이드 정보 출력 */
.sw-visual-control {
    position: absolute;
    left: calc(50% - 600px);
    bottom: 50px;
    display: block;
    z-index: 999;
    /* inline-blokc 은 글자로 인식되므로 줄내림 막음 */
    white-space: nowrap;
}

.sw-visual-pause {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/visualPlay.png") no-repeat;
    border: 0;
    cursor: pointer;
}

/* 상태에 따라서 addClass/removeClass  */
.sw-visual-pause-acitve {
    background-position: 0px -30px;
}

.sw-visual-pg {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
    background: url("../images/visualNum.png") no-repeat;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 30px;

    text-align: center;
}

.sw-visual-pop {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 30px;
    background: url("../images/visualMore.png") no-repeat;
    font-size: 0;
    vertical-align: 30px;
}

/* 추천상품 */
.purpose {
    position: relative;
    display: block;
    height: 1040px;
    background: #ffffff;
}

/* 알뜰상품 */
.sale {
    position: relative;
    display: block;
    height: 570px;
    background: #edf9f9;
}

/* 신상품 */
.new {
    position: relative;
    display: block;
    height: 770px;
    background: #ffffff;
}

.new-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 30px;
}

.new-left {
    position: relative;
    display: block;
    float: left;
    width: 590px;
    width: calc(50% - 10px);
}

.new-left-img {
    position: relative;
    display: block;
    width: 100%;
    height: 370px;
    overflow: hidden;
    margin-bottom: 20px;
}

.new-left-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.new-left-name {
    position: relative;
    display: block;
    font-size: 25px;
    color: #000;
    font-weight: 700;

    /* 한줄 말줄임 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1;
    margin-bottom: 10px;
}

.new-left-desc {
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: #000;
}

.new-right {
    position: relative;
    display: block;
    float: right;
    width: 590px;
    width: calc(50% - 10px);
}

.new-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.new-list li {
    position: relative;
    display: block;
    width: 50%;
    float: left;

    overflow: hidden;
}

.new-list li:nth-child(2n+1) .new-list-good {
    float: left;
}

.new-list li:nth-child(2n) .new-list-good {
    float: right;
}

.new-list-good {
    position: relative;
    display: block;
    width: 288px;
}

.new-list-img {
    position: relative;
    display: block;
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-bottom: 10px;
}

.new-list-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: transform 0.5s;
}

.new-list-img:hover img {
    transform: translate(-50%, -50%) scale(1.2);
}

.new-list-name {
    position: relative;
    display: block;
    font-size: 17px;
    color: #000;
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1;
    margin-bottom: 25px;
}


/* 추천상품 */
.choice {
    position: relative;
    display: block;
    height: 570px;
    background: #fff8fa;
}

/* 인기상품 */
.popular {
    position: relative;
    display: block;
    height: 810px;
    background: #ffffff;
}

.category {
    position: relative;
    display: block;
    margin-top: 30px;
}

.sw-cate-prev {
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 26px;
    height: 20px;
    background: url('../images/swiperArrP.png') no-repeat;
    background-position: 0 0;
    border: 0;
    cursor: pointer;
    transform: translateY(-50%);
}

.sw-cate-prev:hover {
    background-position: 0 -20px;
}

.cate-slide {
    position: relative;
    display: block;
    width: 1040px;
    height: 140px;
    margin: 0 auto;

}

.sw-cate a {
    position: relative;
    display: block;
    width: 100%;
    height: 140px;
    background: #f9f9f9;
    border: 2px solid transparent;
}

.sw-cate a:hover {
    border: 2px solid #76bd42;
}

.cate-icon {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 65px;
    height: 64px;
    overflow: hidden;
    margin-top: 20px;
}

.cate-icon img {
    position: absolute;
    left: 0;
    top: 0;
}

.sw-cate a:hover .cate-icon img {
    top: -64px;
}

.cate-name {
    position: relative;
    display: block;
    text-align: center;
    font-size: 17px;
    color: #000;
    font-weight: 400;
    margin-top: 15px;
}


.sw-cate-next {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 26px;
    height: 20px;
    background: url('../images/swiperArrN.png') no-repeat;
    background-position: 0 0;
    border: 0;
    cursor: pointer;
    transform: translateY(-50%);
}

.sw-cate-next:hover {
    background-position: 0 -20px;
}

/* 브랜드상품 */
.brand {
    position: relative;
    display: block;
    height: 445px;
    background: #f3f9f0;
}

.sw-brand {
    position: relative;
    display: block;
}

.brand-link {
    position: relative;
    display: block;
    text-align: center;
    padding: 37px 0;
    background: #fff;
    height: 285px;
    width: 285px;
}

.brand-link-img {}

.brand-link-name {
    position: relative;
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    margin-top: 20px;
}

.brand-link-info {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 30px;

    padding-top: 10px;
}

.brand-link-info li {
    position: relative;
    display: block;
    width: 50%;
    float: left;
}

.brand-link-info li:first-child {
    border-right: 1px solid #e4e4e4;
}

.brand-link-info-title {
    position: relative;
    display: block;
    font-size: 16px;
    color: #666;
    line-height: 1;
    margin-bottom: 15px;
}

.brand-link-info-desc {
    position: relative;
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}


/* 배너 */
.banner {
    position: relative;
    display: block;
    height: 350px;
    background: #ffffff;
}

.sw-banner-prev {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 34px;
    background: url("../images/banner_arrow.png");
    background-position: 0px -34px;
    border: 0;
    cursor: pointer;
    z-index: 999;
}

.sw-banner-prev:hover {
    background-position: 0px 0px;
}

.sw-banner-next {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotateY(180deg);
    width: 19px;
    height: 34px;
    background: url("../images/banner_arrow.png");
    background-position: 0px -34px;
    border: 0;
    cursor: pointer;
    z-index: 999;
}

.sw-banner-next:hover {
    background-position: 0px 0px;
}

/* 레시피 */
.recipe {
    position: relative;
    display: block;
    height: 600px;
    background: #ffffff;
}

.recipe-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 30px;
}

.recipe-left {
    position: relative;
    display: block;
    float: left;
    width: 785px;
    height: 420px;
}

.recipe-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.recipe-link-img {
    /* 좌표설정 */
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    /* 내용만 이동 */
    transform: translate(-50%, -50%);
    height: 100%;
}

.recipe-link-cate {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 155px;
    height: 155px;
    background: #76bd42;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    padding-top: 95px;
    padding-left: 15px;
}

.recipe-link-info {
    position: absolute;
    left: 155px;
    bottom: 0;
    display: block;
    height: 155px;
    width: 490px;
    background: rgba(255, 255, 255, 0.75);
    padding: 40px 30px;
}

.recipe-link-info-title {
    position: relative;
    display: block;
    font-size: 25px;
    color: #333;
}

.recipe-link-info-desc {
    position: relative;
    display: block;
    font-size: 30px;
    color: #000;
    font-weight: 700;
}

.recipe-right {
    position: relative;
    display: block;
    float: right;
    width: 340px;
    height: 420px;
}

.recipe-choice-top {
    position: relative;
    display: block;
    height: 270px;
}

.recipe-choice-list {
    position: relative;
    display: block;
    height: 240px;
    overflow: hidden;
}

.recipe-choice-list-good {
    position: relative;
    display: block;
}

.recipe-choice-list-good li {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.recipe-good {
    position: relative;
    display: block;
    height: 70px;
    padding-left: 40px;
    background: #fff;
}

.recipe-good-check {
    position: relative;
    display: none;
}

.recipe-good-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/inpCheck.png') no-repeat;
    background-position: 0px -18px;
    font-size: 0;

    cursor: pointer;
}

.recipe-good-label-active {
    background-position: 0px -36px;
}

.recipe-good-link {
    position: relative;
    display: block;
    height: 100%;
    padding-left: 90px;
}

.recipe-good-img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 70px;
    height: 70px;
}

.recipe-good-name {
    position: relative;
    display: block;
    font-size: 15px;
    color: #000;
    padding-top: 10px;
}

.recipe-good-name em {
    font-style: normal;
}

.recipe-good-price {
    position: relative;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.recipe-good-price em {
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
}

.recipe-choice-bottom {
    position: relative;
    display: block;
    height: 150px;
    border-top: 1px solid #eee;
}

.recipe-good-total {
    position: relative;
    display: block;
    margin: 35px 0px;
    padding-left: 40px;
}

.recipe-good-total-checkbox {
    position: relative;
    display: none;
}

.recipe-good-total-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/inpCheck.png') no-repeat;
    background-position: 0px -18px;
    font-size: 0;
    cursor: pointer;
}

.recipe-good-total-label-active {
    background-position: 0px -36px;
}

.recipe-good-total-count {
    position: relative;
    display: block;
    font-size: 20px;
    color: #000;
}

.recipe-good-total-count em {
    font-style: normal;
}

.recipe-cart-bt {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
    background: #fff;
    border: 1px solid #bbb;
    height: 60px;
    /* line-height: calc(60px - 1px -1px);
    line-height: calc(60px - 2px); */
    line-height: 58px;
    transition: background 0.5s;
}

.recipe-cart-bt:hover {
    background: #f9f9f9;
}

.recipe-cart-bt em {
    font-weight: 500;
    font-style: normal;
}

/* 상품후기 */
.review {
    position: relative;
    display: block;
    height: 390px;
    background: #fcf6f2;
}

.sw-review {
    width: 100%;
    height: 233px;
}

.review-box {
    position: relative;
    display: block;
    width: 288px;
    height: 233px;
    background: #fff;
    padding: 28px 22px;
}

.review-box-info {
    position: relative;
    display: block;
    height: 66px;
    margin-bottom: 20px;
}

.review-box-info-title {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}

.review-box-info-title em {
    font-style: normal;
}

.review-box-info-star {
    position: absolute;
    left: 0;
    top: 35px;
    display: block;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    padding-left: 25px;
}

.review-box-info-star::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/icoRating.png') no-repeat center;
}

.review-box-info-img {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 66px;
    height: 66px;
    overflow: hidden;
}

.review-box-info-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.review-box-desc {
    position: relative;
    display: block;
    height: 55px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #000;
}

.review-box-user {
    position: relative;
    display: block;
    height: 18px;
    font-size: 13px;
    color: #000;
}

/* 커뮤니티 */
.community {
    position: relative;
    display: block;
    height: 385px;
    background: #ffffff;
}

.community-wrap {
    position: relative;
    display: block;
    overflow: hidden;
}

.community-box {
    position: relative;
    display: block;
    width: calc(100% / 3);
    height: 180px;
    float: left;
    border-right: 1px solid #e5e5e5;
}

.community-box:last-child {
    border-right: 0;
}

.news-wrap {
    position: relative;
    display: block;
    width: 335px;
}

.news-menu {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}

.news-menu a {
    position: relative;
    display: block;
    float: left;
    font-size: 20px;
    color: #999;
    font-weight: 400;
    margin: 0px 10px;
    line-height: 1;
}

.news-menu a:first-child {
    margin-left: 0;
}

.news-menu a:last-child {
    margin-right: 0;
}

.news-menu a:last-child::after {
    display: none;
}

.news-menu a::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 18px;
    background: #e5e5e5;
}

.news-menu-active {
    color: #000 !important;
    font-weight: 600 !important;
}

.news-body {
    position: relative;
    display: block;
}

.news-list {
    position: relative;
    display: none;
}

.news-list-active {
    display: block;
}

.news-list li {
    position: relative;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
}

.news-link {
    position: relative;
    display: block;
    float: left;
    width: 255px;
    /* 한줄 말줄임 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #000;
}

.news-date {
    position: relative;
    display: block;
    float: right;
    font-size: 13px;
    color: #999;
}

.cs-wrap {
    position: relative;
    display: block;
    width: 320px;
    margin: 0 auto;
}

.cs-list {
    position: relative;
    display: block;
}

.cs-list li {
    position: relative;
    display: block;
}

.cs-title {
    position: relative;
    display: block;
    font-size: 20px;
    color: #000;
    line-height: 1;
    margin-bottom: 15px;
    font-weight: 600;
}

.cs-tel {
    position: relative;
    display: block;
    font-size: 32px;
    color: #76bd42;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 13px;
}

.cs-day {
    position: relative;
    display: block;
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
}

.cs-day b {
    color: #000;
    font-weight: 500;
}

.cs-free {
    position: relative;
    display: block;
    font-size: 13px;
    color: #000;
    line-height: 1;
    margin-bottom: 10px;
}

.cs-mail {
    position: relative;
    display: block;
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}

.cs-mail a {
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 500;
}

.cs-etc {
    position: relative;
    display: block;
    color: #000;
    font-size: 13px;
}

.qa-wrap {
    position: relative;
    display: block;
    width: 330px;
    margin: 0 auto;
}

.qa-title {
    position: relative;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.qa-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.qa-list li {
    position: relative;
    display: block;
    float: left;
    width: 50%;
}

.qa-link {
    position: relative;
    display: block;
    font-size: 13px;
    color: #333;
    height: 38px;
    border: 1px solid #e5e5e5;
    line-height: 36px;
    padding-left: 15px;
    width: 155px;
    margin-bottom: 10px;
}

.qa-link::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 12px;
    background: url("../images/icoFaq.png") no-repeat center;
}

/* 하단 */
.footer {
    position: relative;
    display: block;
    /* height: 240px; */
    background: #ffffff;
    border-top: 1px solid #f2f2f2;
}

/* family 관련 */
.family-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
}

.family {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    background: #f5f5f5;
    padding: 25px 0;
    transition: top 0.5s;
}


.family-active {
    /* 이 값은 조절 예정  */
    top: -290px;
}

.family-list {
    position: relative;
    display: block;
}

.family-list>li {
    position: relative;
    display: block;
    float: left;
    width: calc(100% / 5);
}

.family-list-title {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #76bd42;
    margin-bottom: 25px;
}

.family-list ul {
    position: relative;
    display: block;
}

.family-list ul li {
    position: relative;
    display: block;
}

.family-list ul li a {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 22px;
    color: #000;
}


.footer-top {
    position: relative;
    display: block;
    border-top: 1px solid #e5e5e5;
    background: #fff;
}

.footer-top-wrap {
    position: relative;
    display: block;
    padding: 20px 0;
}

.footer-menu {
    position: relative;
    display: block;

    overflow: hidden;
}

.footer-menu li {
    position: relative;
    display: block;
    float: left;
    padding: 0 10px;
}

.footer-menu li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background: #a9b0b8;
}

.footer-menu li:first-child {
    padding-left: 0;
}

.footer-menu li:last-child {
    padding-right: 0;
}

.footer-menu li:last-child::after {
    display: none;
}

.footer-menu li a {
    position: relative;
    display: block;
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.footer-help {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
    line-height: 60px;
    padding: 0px 15px;
}

.blank {
    display: inline-block;
    width: 30px;
}

.footer-help img {
    vertical-align: -1px;
}

.footer-bottom {
    position: relative;
    display: block;
    border-top: 1px solid #e5e5e5;
    background: #fff;
    padding-bottom: 95px;
}

.footer-info-wrap {
    position: relative;
    display: block;
    padding-top: 25px;
}

.footer-info {
    position: relative;
    display: block;
}

.footer-info li {
    position: relative;
    display: block;
    font-size: 13px;
    color: #666;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 300;
    overflow: hidden;
}

.footer-info li span {
    position: relative;
    display: block;
    padding: 0 10px;
    float: left;
}

.footer-info li span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: #eee;
}

.footer-info li span:first-child {
    padding-left: 0;
}

.footer-info li span:last-child {
    padding-right: 0;
}

.footer-info li span:last-child::after {
    display: none;
}

.footer-info li span strong {
    color: #000;
}

.footer-info li address {
    position: relative;
    display: inline-block;
    font-style: normal;
}

.footer-info li a {
    position: relative;
    display: inline-block;
    color: #000;
}

.footer-info li copy {
    position: relative;
    display: block;
    font-size: 11px;
    margin-top: 25px;
}

.footer-sns {
    position: absolute;
    right: 15px;
    top: 40px;
    display: block;
}

.footer-sns li {
    position: relative;
    display: block;
    float: left;
    font-size: 0;
    margin-left: 15px;
}

.footer-sns li:first-child {
    margin-left: 0;
}

.footer-sns li a {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
}

.i-insta {
    background: url('../images/ftSns.png') no-repeat;
    background-position: 0px calc(-26px * 1);
}

.i-fb {
    background: url('../images/ftSns.png') no-repeat;
    background-position: 0px calc(-26px * 0);
}

.i-nb {
    background: url('../images/ftSns.png') no-repeat;
    background-position: 0px calc(-26px * 2);
}

.i-yt {
    background: url('../images/ftSns.png') no-repeat;
    background-position: 0px calc(-26px * 3);
}

.i-kk {
    background: url('../images/ftSns.png') no-repeat;
    background-position: 0px calc(-26px * 4);
}